[submodule "lib/clap"]
	path = lib/clap
	url = https://github.com/free-audio/clap
[submodule "lib/reaper-sdk"]
	path = lib/reaper-sdk
	url = https://github.com/justinfrankel/reaper-sdk.git
[submodule "lib/WDL"]
	path = lib/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "lib/json"]
	path = lib/nlohmann_json
	url = https://github.com/nlohmann/json.git
